<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            display: grid;
            place-items: center;
            height: 100vh; /* 전체 화면 높이를 차지하도록 설정 */
            margin: 0; /* body의 기본 margin 제거 */
        }

        div {
            text-align: center;
        }

        img {
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
<div>
    <h3 style="color:red">Error 페이지를 찾을 수 없습니다.</h3>
    <img th:src="@{/images/error.png}" alt="errorImg">
</div>
</body>
</html>
