<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="footer py-2"
            style="background: #474747; width:100%; height: 100px; position: relative; transform: translateY(0%);">
        <div style="width: 88%; margin: 0 auto; font-size: 16px;">
            <div class="links d-flex justify-content-around" style="font-size: 0.7rem; text-align: center;">
                <div class="none-item">
                    <a style="color: white; cursor: not-allowed;">개인정보처리방침</a>
                </div>
                <div class="none-item">
                    <a style="color: white; cursor: not-allowed;">신용정보활용체제</a>
                </div>
                <div>
                    <a style="color: white; cursor: not-allowed;">전자민원</a>
                </div>
                <div>
                    <a style="color: white; cursor: not-allowed;">사고신고</a>
                </div>
                <div>
                    <a style="color: white; cursor: not-allowed;">실드지킴이</a>
                </div>
                <div class="none-item">
                    <a style="color: white; cursor: not-allowed;">보호금융상품등록부</a>
                </div>
                <div class="none-item">
                    <a style="color: white; cursor: not-allowed;">상품공시실</a>
                </div>
                <div>
                    <a style="color: white; cursor: not-allowed;">영업점안내</a>
                </div>
                <div>
                    <a style="color: white; cursor: not-allowed;">상담신청</a>
                </div>
                <div class="none-item">
                    <a style="color: white; cursor: not-allowed;">위치기반서비스약관</a>
                </div>
                <div>
                    <a style="color: white; text-decoration: none; cursor: not-allowed;">인증센터</a>
                </div>
            </div>
            <div style="font-size: 16px; margin: 10px 0;">
                <div style="width: 100%; text-align: center; font-size: 0.8rem;">
                    <span style="color: white; font-size: 0.7rem;" >고객센터</span>
                    <span style="color: white; font-size: 1.2em;">9999-9999</span>
                    <span style="color: white; opacity: 80%; font-size: 0.7rem;">평일 09:00~18:00 (은행휴무일 제외)</span>
                    <span style="color: white; opacity: 80%; font-size: 0.7rem; display: block;">&copy; Copyright 2024. MNST
                            Bank. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>