<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결과 조회</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <th:block th:replace="header :: headerFragment"></th:block>
    <div class="container-xl" style="height: auto; min-height: calc(100vh - 100px); padding-bottom: 100px;">
        <form style="margin-top: 2%;">
            <table class="table table-bordered" style="border:1px solid #ccc;">
                <tr>
                    <td colspan="5" style="background-color:#E1E1E1; text-align:center">
                        <h2>당행/다른기관이체</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center;">
                        <img style="width: 100px; height: 100px;" th:src="@{/images/check.png}">
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center">즉시이체 처리가 완료되었습니다.</td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center">거래완료 후 처리결과 조회 및 정상 신청등록 여부를 확인하여 주시기 바랍니다.</td>
                </tr>
                <tr>
                    <td>
                        <input type="button" class="btn btn-secondary form-control" value="가계부전송">
                    </td>
                    <td>
                        <input type="button" class="btn btn-secondary form-control" value="BAND 공유">
                    </td>
                    <td>
                        <input type="button" class="btn btn-secondary form-control" value="자주쓰는 입금계좌 등록">
                    </td>
                    <td>
                        <input type="button" class="btn btn-secondary form-control" value="이체목록 인쇄">
                    </td>
                    <td>
                        <input type="button" class="btn btn-secondary form-control" value="타행입금계좌 잔액조회">
                    </td>
                </tr>
            </table>
            <table class="table table-bordered" style="border:1px solid #ccc; text-align:left"
                th:if="${result != null}">
                <tr>
                    <td colspan="4" style="text-align: center;">입금내역</td>
                    <td>이체 후 출금계좌 잔액 : </td>
                    <td th:text="${result.myaccout != 0 ? #numbers.formatInteger(result.myaccout, 3, 'COMMA')+'원':'0원'}"></td>
                </tr>
                <tr style="text-align: center; vertical-align: middle;">
                    <td>결과</td>
                    <td>출금계좌</td>
                    <td>입금은행<br />입금계좌</td>
                    <td>받는분</td>
                    <td>이체금액(원)</td>
                    <td>받는통장메모</td>
                </tr>
                <tr style="text-align: center; vertical-align: middle;">
                    <td>정상</td>
                    <td th:text="${result.myacc}"></td>
                    <td>[[${result.mysendbank}]]<br />[[${result.mysendacc}]]</td>
                    <td th:utext="${result.myaccioname}"></td>
                    <td th:text="${result.myaccbalance != 0 ? #numbers.formatInteger(result.myaccbalance, 3, 'COMMA'):'0'}"></td>
                    <td th:utext="${result.myaccmemo}"></td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:right;">
                        <a th:href="@{/banking/acchistory}" class="btn btn-secondary col-form-label">이체결과조회</a>
                    </td>
                    <td colspan="2" style="text-align:right;">
                        <a th:href="@{/banking/inout}" class="btn btn-secondary col-form-label">계속이체</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <th:block th:replace="footer :: footerFragment"></th:block>
</body>
</html>