<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNST 이체</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/banking.js}"></script>
	<style>
		@media screen and (min-width: 340px) and (max-width: 767px) {
			/*767px 아래일 때 요소 삭제*/
			.none-item {
				display: none;
			}
			p {
				font-size: 1rem;
			}

			.btn {
				padding: 3px !important;
				font-size: 0.5rem !important;
			}

			td {
				font-size: 0.8rem !important;
				padding: 2% 0 !important;
			}

			.form-control {
				padding: 3px !important;
				font-size: 0.8rem !important;
			}

			.form-select {
				font-size: 0.8rem !important;
			}
		}

		.containers {
			height: auto;
			min-height: calc(100vh - 100px);

			margin: 0 auto;
			font-size: 16px;
			width: 100%;
		}

		.sub-containers {
			width: 88%;
			font-size: 1rem;

			text-align: center;

			margin: 0 auto;
			padding-top: 3%;
			padding-bottom: 6%;
		}
	</style>
</head>
<body>
	<th:block th:replace="header :: headerFragment"></th:block>
	<div class="containers">
		<div class="sub-containers">
			<p style="text-align: center; font-size: 1.2rem">당행/다른기관이체</p>
			<form action="/banking/sendBank" method="post" name="sendform">
				<!-- <input type="hidden" name="csrfToken" th:value="${csrfToken}"> --> <!-- csrf secure -->
				<table class="table table-bordered">
					<thead>
					<tr>
						<td style="background-color:#fafafa; text-align:center" colspan="4">
							<p style="text-align: center;">출금정보</p>
						</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td style="background-color:#fafafa; width:15%;" rowspan="2">출금<br>계좌번호</td>
						<td style="width: 55%;">
							<select name="myacc" id="myacc" class="form-select">
								<option value="0">계좌를 선택해주세요.</option>
								<option
										th:each="acc:${accList}"
										th:text="|${acc.myaccDec}(저축예금)|"
										th:value="${acc.myaccDec}"></option>
							</select>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="myaccmoneyview()">잔액조회</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="check()">본인계좌조회</button>
						</td>
					</tr>
					<tr>
						<td style="text-align:right; width: 55%;">출금가능잔액</td>
						<td colspan="2">
							<input type="text" class="form-control" id="myaccmoney" readonly />
						</td>
					</tr>
					<tr>
						<td style="background-color:#fafafa; width:15%;" >계좌<br>비밀번호</td>
						<td colspan="3">
							<input type="text" class="form-control" name="myaccpw" id="mypw" placeholder="숫자 4자리" />
						</td>
					</tr>
					</tbody>
				</table>
				<table class="table table-bordered" style="border:1px solid #ccc; text-align:center">
					<thead>
					<tr>
						<td colspan="9" style="background-color:#fafafa">
							<p style="text-align: center;">입금정보</p>
						</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td style="background-color:#fafafa; width:15%;">입금은행</td>
						<td colspan="8">
							<select class="form-select" name="mysendbank" id="sendbank">
								<option value="0">입금하실 은행을 선택해주세요.</option>
								<option
										th:each="bank:${bankList}" th:text="${bank}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="background-color:#fafafa">입금<br>계좌번호</td>
						<td colspan="8">
							<input type="text" class="form-control" name="mysendacc" id="sendacc" placeholder="'-'없이 숫자만 입력" />
						</td>
					</tr>
					<tr>
						<td style="background-color:#fafafa" rowspan="2">이체금액</td>
						<td colspan="8">
							<input type="text" class="form-control" name="myaccbalance" id="sendmoney"
								   style="width:93%; display: inline-block; vertical-align:middle; float: left"/>
							<p style="display:inline-block; width: 5%; margin: 0 auto;">원</p>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="sendMoney('100')">100만</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="sendMoney('50')">50만</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="sendMoney('10')">10만</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="sendMoney('5')">5만</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="sendMoney('3')">3만</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="sendMoney('1')">1만</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control" onclick="sendMoney('all')">전액</button>
						</td>
						<td>
							<button type="button" class="btn btn-secondary form-control"  onclick="sendMoney('cancel')">정정</button>
						</td>
					</tr>
					<tr>
						<td style="background-color:#fafafa">받는통장<br>메모</td>
						<td colspan="8">
							<input type="text" class="form-control" name="myaccioname" id="myaccioname" placeholder="(선택)15자 이내 입력" />
						</td>
					</tr>
					<tr>
						<td style="background-color:#fafafa">내 통장<br>메모</td>
						<td colspan="8">
							<textarea rows="10" class="form-control" name="myaccmemo" id="myaccmemo" cols="50" placeholder="(선택)500자 이내 메모"></textarea>
						</td>
					</tr>
					</tbody>
				</table>
				<div style="margin-bottom: 2%">
					<input type="submit" class="btn btn-secondary form-label" style="width: 10%; float: right;" value="다음">
				</div>
			</form>
		</div>
    </div>
	<th:block th:replace="footer :: footerFragment"></th:block>
</body>
</html>