<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MNST 회원가입</title>
<style>
	@media screen and (min-width: 340px) and (max-width: 767px) {
		/*767px 아래일 때 요소 삭제*/
		.none-item {
			display: none;
		}
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
    	-webkit-appearance: none;
    	margin: 0;
	}
	.container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: auto;
        min-height: calc(100vh - 100px);
        padding-bottom: 100px; /*footer 높이*/
    }
</style>
</head>
<body>
	<th:block th:replace="header :: headerFragment"></th:block>
	<div class="container">
		<form th:action="@{/member/join}" th:object="${user}" method="post"
			  style="width: 700px; margin-top: 2%;" onsubmit="return valid()">
			<table class="table table-borderless">
				<thead class="table table-striped">
					<tr>
						<th colspan="3" style="background-color:#ffffff; border: 0;">
							<h3 style="text-align: center;">회원가입</h3>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="background-color:#ffffff">아이디 *</td>
						<td>
							<input class="form-control" type="text" placeholder="4~20자리" id="input_myid" name="myid"
								   style="display: block; width: 128.5%;" maxlength="20" oninput="checkLoginLength()" autofocus>
							<span id="label_myid" style="color: red;"></span>
						</td>
						<td style="text-align: right;">
							<input type="button" style="display: inline-block;" class="btn btn-secondary" value="확인" onclick="sameCheck()">
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">비밀번호 *</td>
						<td colspan="2">
							<input class="form-control" type="password" id="input_mypw" name="mypw" placeholder="8~20자리" maxlength="16" oninput="checkPassword()">
							<span id="label_mypw" style="color: red;"></span>
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">비밀번호 확인 *</td>
						<td colspan="2">
							<input class="form-control" type="password" id="input_mycheckpw" name="mypwcheck" maxlength="16" oninput="checkConfirmPassword()">
							<span id="label_mycheckpw" style="color: red;"></span>
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">이름 *</td>
						<td colspan="2">
							<input class="form-control" type="text" placeholder="이름 입력"  id="input_myname" name="myname" maxlength="30">
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">주민등록번호 *</td>
						<td colspan="2">
							<input class="form-control" type="number" id="input_mysid" name="mysid" placeholder="'-' 빼고 숫자만 입력" maxlength="13" oninput="numMaxLength(this)">
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">휴대폰번호 *</td>
						<td colspan="2">
							<input class="form-control" style="width: 10%; display: inline-block; text-align: center;" value="010" readonly>
							<input class="form-control" style="width: 88%; display: inline-block; float:inline-end" type="number" id="input_myphone" name="myphone" placeholder="'-' 빼고 숫자만 입력" maxlength="8"  oninput="numMaxLength(this)">
							<span id="label_myphone" style="color: black; display: block;">고객님의 휴대폰 번호로 초기 계좌번호가 개설됩니다.</span>
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">계좌 비밀번호 *</td>
						<td colspan="2">
							<input class="form-control" type="number" id="input_myaccpw" name="myaccpw" placeholder="4자리 숫자만 입력 가능" maxlength="4"  oninput="numMaxLength(this)">
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">주소 *</td>
						<td>
							<input class="form-control" type="text" id="input_mylocation"
								   th:field="*{mylocation}" maxlength="300" style="display:block; width: 120%;" readonly>
						</td>
						<td style="text-align:right;">
							<input id="find_location" style="display:inline-block;" class="btn btn-secondary" type="button" value="주소 찾기">
						</td>
					</tr>
					<tr>
						<td style="background-color:#ffffff">이메일 *</td>
						<td colspan="2">
							<input class="form-control" type="text" id="input_myemail" name="myemail" placeholder="email@sesac.com" maxlength="50">
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<input type="submit" class="btn btn-secondary form-control" value="회원가입">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<th:block th:replace="footer :: footerFragment"></th:block>
	<script>
		
		var myElement = document.getElementById("label_myid");
		
		//색깔
		function revertColor(){
			myElement.style.color = "red";
		}
		
		//type=number 글자수 제한
		function numMaxLength(object){
    		if (object.value.length > object.maxLength){
      			object.value = object.value.slice(0, object.maxLength);
    		}    
  		}
		
        function checkLoginLength() {
            var password = document.getElementById("input_myid").value;

            if (password.length < 4 || password.length > 20) {
				myElement.style.color = "red";
                document.getElementById("label_myid").innerText = "아이디는 최소 4자 최대 20자입니다.";
            } else {
                document.getElementById("label_myid").innerText = "";
            }
        }
		
		
		let submitCheck = false;
		let passwordCheck = false;

	    function valid() {
	        if (submitCheck && passwordCheck) {
	            return true;
	        }
	        else if (submitCheck == false){
				alert('ID 확인은 필수입니다.'); 
				return false;
			}
	        else {
	            alert('비밀번호를 확인해주세요.'); 
	            return false;
	        }
	    }
	    
	    function sameCheck() {
	        let myid = $('#input_myid').val();
		    
	        var datas = {"myid": myid};
	        $.ajax({
				url: "/member/usercheck",
	            type: 'post',
	            contentType: 'application/json',
	            dataType: 'json',
   	            data: JSON.stringify(datas),
            	success: function(data){ 
					console.log(data.result);
                	
                	if(data.result == "N"){ // 중복 없음
                    	result = "사용 가능한 아이디입니다.";
                    	$("#label_myid").html(result).css("color", "green");
                 		submitCheck = true;
             		}
             		else if(data.result == "E"){ // 에러
                    	result = "에러입니다.";
                    	$("#label_myid").html(result).css("color", "red");
                 		submitCheck = false;
             		}
             		else if(data.result == "NO"){ // null
						result = "아이디를 입력해주세요."
                    	$("#label_myid").html(result).css("color", "red");
                 		submitCheck = false;
					}
					else if(data.result == "IDNO"){ // null
						result = "아이디에는 특수문자를 사용할 수 없습니다."
                    	$("#label_myid").html(result).css("color", "red");
                 		submitCheck = false;
					}
             		else{ 
                 	 	result="이미 사용중인 아이디입니다.";
                     	$("#label_myid").html(result).css("color","red");
                     	submitCheck = false;
             		}
                 
         		},
            	error : function(error){alert(error);}
        	});
	    }
		
		
		function checkPassword() {
            var password = document.getElementById("input_mypw").value;

            if (password.length < 8 || password.length > 16) {
                document.getElementById("label_mypw").innerText = "비밀번호는 최소 8자 최대 16자입니다.";
            } else {
                document.getElementById("label_mypw").innerText = "";
            }

            checkConfirmPassword();
        }

        function checkConfirmPassword() {
            var password = document.getElementById("input_mypw").value;
            var confirmPassword = document.getElementById("input_mycheckpw").value;

            // 비밀번호와 확인 비밀번호 일치 여부 확인
            if (password !== confirmPassword) {
                document.getElementById("label_mycheckpw").innerText = "비밀번호가 일치하지 않습니다.";
                
                // 비밀번호 일치하지 않을 때 회원가입 못하게
                passwordCheck = false;
            } else {
                document.getElementById("label_mycheckpw").innerText = "";
                passwordCheck = true;
            }
        }
        
        //주소찾기 팝업
	    //자식창에서 받아온 주소 넣기
        function setLocation(name){
            document.getElementById('input_mylocation').value = name;
        }
	    window.onload = function(){
    		document.getElementById("find_location").onclick = function(){
        		window.open("/member/join/popup","주소 찾기","width=700,height=500,top=200,left=200;");
    		}
		};
    </script>
</body>
</html>