<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계좌 개설</title>
    <link rel="stylesheet" th:href="@{/css/modify.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <th:block th:replace="header :: headerFragment"></th:block>
    <div id="container">
    	<h1>신분증 정보 확인 및 전송</h1>

        <!-- 이미지 드래그 앤 드롭 박스 -->
        <!-- 이미지 미리보기 -->
        <div id="image-preview">
            <label for="fileElem" id="drop-area" ondragover="handleDragOver(event)" ondrop="handleFileDrop(event)"
                ondragenter="handleDragEnter(event)" ondragleave="handleDragLeave(event)">
                신분증 이미지를 업로드 또는 드래그 앤 드롭을 해주세요.
                <input type="file" id="fileElem" accept="image/*" onchange="handleFiles(this.files)">
            </label>
        </div>
        <br>
        <div id="input_container">
        	<table>
        		<tr>
        			<td style="text-align: left;">이름</td>
        		</tr>
       			<tr>
	        		<td>
	        			<input class="form-control" type="text" maxlength="30" style="width:98%; display:inline-block;">
	        			<br><br>
	        		</td>
        		</tr>
        		<tr>
        			<td style="text-align: left;">주민등록번호</td>
        		</tr>
        		<tr>
	        		<td>
	        			<input class="form-control" type="text" maxlength="6" style="width:47%; display:inline-block;">
	        	 		- <input class="form-control" type="password" maxlength="7" style="width:47%; display:inline-block;">
	        		</td>
	        	</tr>
        	</table>
        </div>

        <!-- 버튼 그룹 -->
        <div class="button-container">
            <!-- 적용 버튼 -->
            <button id="applyButton" class="btn btn-secondary form-label" onclick="applyChanges()">계좌개설</button>
        </div>
    </div>

    <div id="popupContainer" class="popup-container">
        <div class="popup">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <h3>신분증 이미지를 업로드 하시겠습니까?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <button class="btn btn-secondary form-label" onclick="confirmApply()">예</button>
                            <button id="cancelapply" class="btn btn-secondary form-label" onclick="cancelApply()">아니오</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var formData = new FormData();
    
        function handleDragOver(event) {
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';
        }

        function handleFileDrop(event) {
            event.preventDefault();
            const files = event.dataTransfer.files;
            handleFiles(files);
        }

        function handleDragEnter(event) {
            const dropArea = document.getElementById('drop-area');
            dropArea.classList.add('hover');
        }

        function handleDragLeave(event) {
            const dropArea = document.getElementById('drop-area');
            dropArea.classList.remove('hover');
        }
        
        // 변경 전 URL
        var originalUrl = window.location.href;
        
        function handleFiles(files) {
            const preview = document.getElementById('image-preview');
            const image = document.createElement('img');
            image.src = URL.createObjectURL(files[0]); 
            preview.innerHTML = '';
            preview.appendChild(image);
            formData.append("multipartFile", files[0]);
        }

        var newWindow = null;
        
        // 변경사항 적용 함수
        function confirmApply() {
		    // 이미지 업로드 후 팝업 닫기
		    document.getElementById('popupContainer').style.display = 'none';
		
		    $.ajax({
		        url: '/banner/modify2',
		        method: 'POST',
		        data: formData,
		        contentType: false,
		        processData: false,
		        success: function(response) {
		            console.log(response);
		            var newWindow = window.open("/banner/preview?url=" + response, '_blank', 'width=400, height=500');
		            newWindow.addEventListener("load", () => {
		                // 부트스트랩 링크를 포함
		                var bootstrapLink = newWindow.document.createElement('link');
		                bootstrapLink.rel = 'stylesheet';
		                bootstrapLink.href = 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
		                newWindow.document.head.appendChild(bootstrapLink);
		
		                var button = newWindow.document.createElement('button');
		                button.textContent = '업로드';
		                button.style.position = 'absolute';
		                // 이미지 아래로 이동하도록 조정
		                var image = newWindow.document.querySelector('img');
		                var imageRect = image.getBoundingClientRect(); // 이미지의 위치 및 크기 정보를 가져옴
		                button.style.top = (imageRect.bottom + 20) + 'px'; // 이미지 아래 20px 여백을 주고 버튼 배치
		                button.style.left = '50%';
		                button.style.transform = 'translateX(-50%)'; // 가로 중앙 정렬
		                button.classList.add('btn', 'btn-secondary', 'form-label');
		                button.addEventListener('click', function() {
		                    newWindow.close();
		                });
		                newWindow.document.body.appendChild(button);
		
		                newWindow.addEventListener("unload", () => {
		                    window.location.href = "/";
		                });
		            });
		        },
		        error: function(error) {
		            console.error('Error:', error);
		        }
		    });
		}

		// 레이어 팝업 열기
        function applyChanges() {
            // 이미지가 미리보기되어 있으면 팝업을 엽니다.
            const preview = document.getElementById('image-preview');
            if (preview.innerHTML.trim() !== '') {
                // 변경된 URL
                var newUrl = originalUrl + '/go?url=' + preview.querySelector('img').src;
                // 팝업 열기 전 URL 변경
                history.pushState(null, '', newUrl);
                document.getElementById('popupContainer').style.display = 'block';
            }
        }

        // 레이어 팝업 닫기
        function cancelApply() {
            // 팝업 닫은 후 URL 원래대로 변경
            history.pushState(null, '', originalUrl);
            document.getElementById('popupContainer').style.display = 'none';
            window.location.href = "/banner/modify";
        }
    </script>
    
    <th:block th:replace="footer :: footerFragment"></th:block>
</body>
</html>
