<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" th:href="@{/css/modify.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <th:block th:replace="header :: headerFragment"></th:block>
    <div id="container">
        <h1>배너 변경</h1>

        <!-- 이미지 드래그 앤 드롭 박스 -->
        <!-- 이미지 미리보기 -->
        <div id="image-preview">
            <label for="fileElem" id="drop-area" ondragover="handleDragOver(event)" ondrop="handleFileDrop(event)"
                ondragenter="handleDragEnter(event)" ondragleave="handleDragLeave(event)">
                이미지를 여기로 클릭하거나 드래그 앤 드롭 또는 파일을 선택하세요.
                <input type="file" id="fileElem" accept="image/*" onchange="handleFiles(this.files)">
            </label>
        </div>

        <!-- 버튼 그룹 -->
        <div class="button-container">
            <!-- 적용 버튼 -->
            <button id="applyButton" class="btn btn-secondary form-label" onclick="applyChanges()">업로드</button>
        </div>
    </div>

    <div id="popupContainer" class="popup-container">
        <div class="popup">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <h3>이미지를 변경하시겠습니까?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <button class="btn btn-secondary form-label" onclick="confirmApply()">예</button>
                            <button id="cancelapply" class="btn btn-secondary form-label" onclick="cancelApply()">아니오</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var formData = new FormData();
    
        function handleDragOver(event) {
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';
        }

        function handleFileDrop(event) {
            event.preventDefault();
            const files = event.dataTransfer.files;
            handleFiles(files);
        }

        function handleDragEnter(event) {
            const dropArea = document.getElementById('drop-area');
            dropArea.classList.add('hover');
        }

        function handleDragLeave(event) {
            const dropArea = document.getElementById('drop-area');
            dropArea.classList.remove('hover');
        }
        
        // 변경 전 URL
        var originalUrl = window.location.href;
        
        function handleFiles(files) {
            const preview = document.getElementById('image-preview');
            const image = document.createElement('img');
            image.src = URL.createObjectURL(files[0]); 
            preview.innerHTML = '';
            preview.appendChild(image);
            formData.append("multipartFile", files[0]);
        }

        var newWindow = null;
        // 변경사항 적용 함수
        function confirmApply() {
		    // 이미지 업로드 후 팝업 닫기
		    document.getElementById('popupContainer').style.display = 'none';
		
		    $.ajax({
		        url: '/banner/modify2',
		        method: 'POST',
		        data: formData,
		        contentType: false,
		        processData: false,
		        success: function(response) {
		            console.log(response);
		            var newWindow = window.open("/banner/preview?url=" + response, '_blank', 'width=400, height=500');
		            newWindow.addEventListener("load", () => {
		                // 부트스트랩 링크를 포함
		                var bootstrapLink = newWindow.document.createElement('link');
		                bootstrapLink.rel = 'stylesheet';
		                bootstrapLink.href = 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
		                newWindow.document.head.appendChild(bootstrapLink);
		
		                var button = newWindow.document.createElement('button');
		                button.textContent = '업로드';
                    	button.style.position = 'fixed';
                    	button.style.top = 'calc(50% + 100px)';
                    	button.style.left = '50%';
                    	button.style.transform = 'translate(-50%, -50%)';
		                button.classList.add('btn', 'btn-secondary', 'form-label');
		                button.addEventListener('click', function() {
		                    newWindow.close();
		                });
		                newWindow.document.body.appendChild(button);
		
		                newWindow.addEventListener("unload", () => {
		                    window.location.href = "/";
		                });
		            });
		        },
		        error: function(error) {
		            console.error('Error:', error);
		        }
		    });
		}

		// 레이어 팝업 열기
        function applyChanges() {
            // 이미지가 미리보기되어 있으면 팝업을 엽니다.
            const preview = document.getElementById('image-preview');
            if (preview.innerHTML.trim() !== '') {
                // 변경된 URL
                var newUrl = originalUrl + '/go?url=' + preview.querySelector('img').src;
                // 팝업 열기 전 URL 변경
                history.pushState(null, '', newUrl);
                document.getElementById('popupContainer').style.display = 'block';
            }
        }

        // 레이어 팝업 닫기
        function cancelApply() {
            // 팝업 닫은 후 URL 원래대로 변경
            history.pushState(null, '', originalUrl);
            document.getElementById('popupContainer').style.display = 'none';
            window.location.href = "/member/modify";
        }
    </script>
    
    <th:block th:replace="footer :: footerFragment"></th:block>
</body>
</html>
